.boton-contenedor {
  height: 40px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  background-color: #db30f1;
  color: white;
  border-radius: 25px;
  border: none;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 3px 3px#888;
}

.boton-contenedor:hover {
  background-color: white;
  color: #ea5803;
}

.operador {
  background-color: orange;
}

.operador:hover {
  background-color: white;
  color: orange;
}